name: Coverage tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test-coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"

      - name: Install SingleStore package and SQLAlchemy 2.0.x
        run: |
          pip install 'sqlalchemy~=2.0.0'
          pip install .

      - name: Run MySQL protocol tests
        run: |
          pytest -v --cov=sqlalchemy_singlestoredb --pyargs sqlalchemy_singlestoredb.tests
        env:
          COVERAGE_FILE: "coverage-mysql-2-0.cov"
          SINGLESTOREDB_MANAGEMENT_TOKEN: ${{ secrets.CLUSTER_API_KEY }}

      - name: Run HTTP protocol tests
        run: |
          pytest -v --cov=sqlalchemy_singlestoredb --pyargs sqlalchemy_singlestoredb.tests
        env:
          COVERAGE_FILE: "coverage-http.cov"
          SINGLESTOREDB_MANAGEMENT_TOKEN: ${{ secrets.CLUSTER_API_KEY }}
          USE_DATA_API: "1"

      - name: Install SingleStore package and SQLAlchemy 1.4.x
        run: |
          pip install 'sqlalchemy~=1.4.0'

      - name: Run MySQL protocol tests
        run: |
          pytest -v --cov=sqlalchemy_singlestoredb --pyargs sqlalchemy_singlestoredb.tests
        env:
          COVERAGE_FILE: "coverage-mysql-1-4.cov"
          SINGLESTOREDB_MANAGEMENT_TOKEN: ${{ secrets.CLUSTER_API_KEY }}

      - name: Generate report
        run: |
          coverage combine coverage-mysql-2-0.cov coverage-mysql-1-4.cov
          coverage report
          coverage xml
          coverage html
